<div class="container">
  <div class="row">
    <div class="col-sm-4 mb-3" *ngFor="let cat of cats">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{cat.name}}</h5>
          <p class="card-text">גיל: {{cat.age}}</p>
          <p class="card-text">{{cat.sex == 'male' ? 'זכר' : 'נקבה'}}</p>
          <p class="card-text">{{cat.isVaccinated ? 'מחוסן' : 'לא מחוסן'}}</p>
          <p class="card-text">{{cat.isVetted ? 'נבדק' : 'לא נבדק'}}</p>
          <p class="card-text">{{cat.isNeutered ? '' : 'לא'}} מעוקר</p>
          <p class="card-text">{{cat.hasWorms ? '' : 'לא'}} מתולע</p>
          <p class="card-text">{{cat.illnesses.join(', ')}}</p>
          <p class="card-text" *ngIf="cat.illnesses.length == 1 && cat.illnesses[0] == ''">אין מחלות</p>
          <a *ngIf="isAdmin" class="btn btn-primary" (click)="adoptCat(cat)">מסור לאימוץ</a>
        </div>
      </div>
    </div>
  </div>
</div>
